@CHARSET "UTF-8";
/* System Name, CSS Version_Creater_Date */
/* Common */ 
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textare a,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:NanumPen,Dotum,AppleGothic,sans- serif;font-size:1.5em}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal} a{text-decoration:none}

body{
	background-color: #d5bb8d;
}
a {/*적용 안되는 듯?  */
	text-decoration: none;
	color: black;
}
div.top {
	background-color: #fea017;
	height: 50px;
}

div.top_inside {
	height:40px;
	width: 800px;
	margin: 0px auto;
}

div.top_inside>h2 {
	float: left;
	text-decoration: none;
	color: #5d3424;
	margin: 5px;
}

div.top_inside>h2:nth-of-type(2) {
	float: right;
	margin: 5px;
	color: #ffffff;
	text-decoration: none;
}

div.top_inside a{
	
	margin: 5px;
	color: #ffffff;
	text-decoration: none;
}

div.note{
background-image: url("/img/diarycover.png");
background-size: 500px 700px;
width: 500px;
height: 645px;
background-repeat: no-repeat;
margin-left: 400px;
text-align: center;
}

div.login_box{
width: 300px;
height: 300px;
padding: 10px;
border: 1px grey solid;
display: inline-block;
margin-top: 150px;
background-color:grey;
opacity:0.3;
margin-left:10px;
}

div.login_box>h1{
	color:#ffffff;
	opacity:1;
}