@CHARSET "UTF-8";
/* System Name, CSS Version_Creater_Date */
/* Common */ 
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textare a,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:Papyrus,Dotum,AppleGothic,sans- serif;font-size:1em}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal} a{text-decoration:none} a:hover,a:active,a:focus{text-decoration:underline}

body {
	background-color: #cab6bb;
	
}

div#top {
	height: 40px;
	background-color: #ef8ba3;
	color: #a76272;
}

div#top-middle {
	width: 900px;
	margin: 0px auto;
	
}
div#top-m-r {
	float: right;
	text-align: right;
	width: 400px;
	margin: 3px;
}

#top-m-r p.top {
	font-size: 20px;
	margin: 3px;
	width: auto;
	float: right;
	
}
div#top-m-l {
	float: left;
	font-size: 20px;
	width: 200px;
	margin: 10px;
}

div#wrap {
	margin: 20px auto;
	width: 900px;
	border: gray 2px solid;
	background-color: #FFFFFF;
}

div#title {
	text-align: center;
	margin: 3px;
	margin-top: 10px;
	padding: 3px;
}

div#picture {
	margin: 0 auto;
	text-align: center;
	width: 500px;
}

div#contents {
	margin: 0 auto;
	text-align: center;
}

div#below_content {
	margin: 10px;
	
}
#below_content button[]





















