@CHARSET "UTF-8";
/* System Name, CSS Version_Creater_Date */
/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textare a,button,select
	{
	margin: 0;
	padding: 0
}

body,input,textarea,select,button,table {
	font-family: NanumPen, Dotum, AppleGothic, sans- serif;
	font-size: 1.5em
}

img,fieldset {
	border: 0
}

ul,ol {
	list-style: none
}

em,address {
	font-style: normal
}

a {
	text-decoration: none
}

body {
	background-color: #d5bb8d;
}

a { /*적용 안되는 듯?  */
	text-decoration: none;
	color: black;
}

div.top {
	background-color: #fea017;
	height: 50px;
}

div.top_inside {
	height: 40px;
	width: 800px;
	margin: 0px auto;
}

div.top_inside>h2 {
	float: left;
	text-decoration: none;
	color: #5d3424;
	margin: 5px;
}

div.top_inside>h2:nth-of-type(2) {
	float: right;
	margin: 5px;
	color: #ffffff;
	text-decoration: none;
}

div.top_inside a {
	margin: 5px;
	color: #ffffff;
	text-decoration: none;
}

div#list {
	margin: 30px auto;
	height: 540px;
	width: 100%;
	
}
div.canvas{
	
	margin:0px auto;
	height:600px;
	width: 900px;
	overflow: hidden;
	position: relative;
}

div.page>div.line1,div.line2, div.line3 {
	display: inline-block;
	margin: 0px 20px;
	height: 150px;
}
div.writing {
	background-color: #6f6893;
	width: 15px;
	float: left;
	font-size: 40px;
	
	text-align: left;
	line-height: 50px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	height: 50px;
	padding: 5px 10px;
	margin: 30px, 20px;
	-moz-transition: width 1s linear;
	-webkit-transition: width 1s linear;
	-o-transition: width 1s linear;
	-ms-transition: width 1s linear;
	transition: width 1s linear;
	
	position: absolute;
	top:50px;
	left: 50px;
	transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);

}

div.writing:hover {
	width: 85px;
}

div.formArea {
	margin: 0px auto;
	text-align: center;
}

.formArea input[type="text"] {
	background-color: #f6dc92;
	margin: 0px auto; /*왜 가운데 정렬 안될 까? >>div 자체를 가운데 정렬했어야..  */
	padding: 2px;
	width: 700px;
}

.formArea textarea {
	background-color: #f6dc92;
	margin: 10px auto;
	resize: none;
	width: 700px;
	height: 300px;
}

.bottom {
	text-align: center;
}

.bottom input[type="submit"],[type="reset"] {
	margin: 5px auto;
	padding: 2px;
	background-color: #d0bfe8;
	color: black;
	border-radius: 5px;
}

.bottom input[type="file"] {
	margin: 0 auto;
	height: 100px; /*글씨 키우니까 창안의 글씨가..헐.*/
}

div.page {
	background-image: url("/img/note.png");
	background-size: 900px auto;
	background-repeat: no-repeat;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px auto;
	width: 900px;
	height: 600px;
	overflow: hidden;
	padding-top: 25px;
	/* display: inline-block; */
	
	position:absolute;
	left:0%;
	
	transition:left 1s ease-in-out;
	-webkit-transition:left 1s ease-in-out;
	-moz-transition:left 1s ease-in-out;
	-o-transition:left 1s ease-in-out;

}

div.title {
	text-align: center;
	display: none; 
}

div.picture {
	width: 400px;
	float: left;
	margin: 10px;
}

div.content {
	width: 300px;
	float: right;
	margin-right: 10px;
	word-break: break-all;
	text-decoration: underline;
}

div.below_content {
	text-align: right;
	height: 30px;
	width:
}

.below_content button {
	margin: 5px auto;
	padding: 2px;
	background-color: #d0bfe8;
	color: black;
	border-radius: 5px;
	font-size: 1em;
}

div.get_comment {
	text-align: right;
	width: 300px;
}

div.commentList {
	display: none;
}

div.lineLeft {
	width: 420px;
	height: 130px;
	display: inline-block;
	position: relative;
}

div.lineLeft .post {
	transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	float: left;
}

div.lineRight .post {
	transform: rotate(+10deg);
	-ms-transform: rotate(+10deg);
	-webkit-transform: rotate(+10deg);
	float: right;
}

div.lineRight {
	width: 420px;
	height: 130px;
	display: inline-block;
	position: relative;
}

div.post {
	background-image: url("/img/polaroid.png");
	background-size: 200px 170px;
	background-repeat: no-repeat;
	width: 200px;
	height: 170px;
	margin: 10px;
}
div.post:hover .title{
	display:block;
}
div.title:hover{
	display: none;
	text-decoration:yes;
	color:black;
}
div.thumbnail {
	max-width: 135px;
	max-height: 100px;
	margin: 0px auto;
	margin-top: 25px;
	text-align: center;
}

div.pageNum{
	width: 900px;
	margin: 0px auto;
}