@CHARSET "UTF-8";
/* System Name, CSS Version_Creater_Date */
/* Common */ 
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textare a,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:NanumPen,Dotum,AppleGothic,sans- serif;font-size:1.5em}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal} a{text-decoration:none} a:hover,a:active,a:focus{text-decoration:underline}

body{
	background-color: #d5d6e0;
}

div.top {
	background-color: #55455d;
	height: 50px;
}

div.top_inside {
	height:40px;
	width: 800px;
	margin: 0px auto;
}

div.top_inside>h2 {
	float: left;
	text-decoration: none;
	color: #ffffff;
	margin: 5px;
}

div.top_inside>h2:nth-of-type(2){
	float: right;
	margin: 5px;
	color: #ffffff;
	text-decoration: none;
}

div.list {
	margin-top:20px;
}
div.writing {
	position: relative;
	top: -50px;
	
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
	padding: 30px 20px 10px;
	width: 800px;
	margin: 20px auto;
	border: 1px grey solid;
	background-color:#f6dc92;	
}
div.formArea {
	margin: 0px auto;
	text-align: center;
}

.formArea input[type="text"]{
	background-color: #f6dc92;
	margin: 0px auto;/*왜 가운데 정렬 안될 까? >>div 자체를 가운데 정렬했어야..  */
	padding: 2px;
	width: 700px;
}

.formArea textarea {
	background-color: #f6dc92;
	
	margin: 10px auto;
	resize: none;
	width: 700px;
	height: 300px;
	
}
.bottom {
	text-align: center;
}
.bottom input[type= "submit"],[type = "reset"]{
	margin: 5px auto;
	padding: 2px;
	background-color: #d0bfe8;
	color: black;
	border-radius: 5px;

	
	
}

.bottom input[type = "file"]{
	
	margin: 0 auto;
	height: 100px;/*글씨 키우니까 창안의 글씨가..헐.*/
	
} 

div.spring {
	
	background-image:url("/img/spring.png");
	background-position: 0px 0px;
	height: 48px;
	width: 745px;
	margin: 0px auto;
	position: relative;
	overflow:hidden;
	/* padding-left: 10px; */
	z-index:2;
}
div.page {
	position: relative;
	top: -50px;
	
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
	padding: 30px 20px 10px;
	width: 800px;
	margin: 20px auto;
	border: 1px grey solid;
	background-color:#f6dc92;
	height: auto;
	overflow:hidden;
}

div.title {
	text-align: center;
}

div.picture{
	width: 400px;
	
	float: left;
	margin: 10px;
	
}
div.content{
	width: 300px;
	float: right;
	margin-right: 10px;
	word-break:break-all;
	text-decoration:underline;
}
 
div.below_content{
	text-align: right;
	height: 30px;
	width: 
}
.below_content button{
		margin: 5px auto;
	padding: 2px;
	background-color: #d0bfe8;
	color: black;
	border-radius: 5px;
	font-size: 1em;

} 

div.get_comment{
	text-align: right;
	width: 300px;
}

div.commentList{
	display: none;
}












