@CHARSET "UTF-8";
/* System Name, CSS Version_Creater_Date */
/* Common */ 
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textare a,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family: NanumPen,Dotum,AppleGothic,sans- serif;font-size:1.3em}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal} a{text-decoration:none} a:hover,a:active,a:focus{text-decoration:underline}

body{
	background-color: #d5bb8d;
}
a {/*적용 안되는 듯?  */
	text-decoration: none;
	color: white;
}
/* 
div.top_inside>h2:nth-of-type(2) a{
	
	margin: 5px;
	color: #ce8810;
	text-decoration: none;
} */
div.top {
	background-color: #fea017;
	height: 50px;
}

div.top_inside {
	height:40px;
	width: 800px;
	margin: 0px auto;
}

div.top_inside>h2 {
	float: left;
	text-decoration: none;
	color: #ffffff;
	margin: 5px;
}

div.top_inside>h2:nth-of-type(2){
	float: right;
	margin: 5px;
	color: #ffffff;
	text-decoration: none;
}


div.page {
	background-image :url("/img/note.png");
	background-size: 900px auto;
	background-repeat:no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	margin: 0px auto;
	width: 900px;
	height: 600px;
	overflow:hidden;
	padding-top:20px;
	margin-top:25px;
}

div.title {
	text-align: right;
	font-size:1.4em;
	margin-right:50px;
	float: right;
}
div.polaroid{

	background-image:url("/img/polaroid.png");
	background-size: 400px auto;
	background-repeat:no-repeat;
	width:400px;
	height: 500px;
	margin-left:30px;
	float:left;
	
}
div.picture {
	text-align: center;
	width: 262px;
	height: 270px;
	margin-left: 72px;
	margin-top: 70px;
}

div.picture>img{
	max-width:262px;
	max-height:270px;;
	margin-top:5px;
}
div.right_page{
	float:right;
	width:400px;
}
button.modify delete{
	float:right;
}
div.content{
	width: 350px;
	float: right;
	margin-right: 60px;
	word-break:break-all;
	
	
}
 
div.below_content{
text-align: right;
height: 50px;
width: 350px;
overflow: hidden;
}
.below_content button{
	margin: 5px auto;
	padding: 2px;
	background-color: #d0bfe8;
	color: black;
	border-radius: 5px;
	

} 

div.get_comment{
	text-align: right;
	width: 300px;
	
	
}

div.commentList{
	display: none;
	
}















